:root {
  --bg-black: #000000;
  --bg-dark: #1a1a1a;
  --bg-dark-1: #303030;
  --bg-light: #f1f1f1;
  --bg-light-1: #fafafa;
  --bg-light-2: #EBEBEB;
  --bg-white: #FFFFFF;
  
  --btn-primary: #333;
  --btn-secondary: #E3E3E3;
  --btn-light: #ffff;

  --text-dark-0: #000000;
  --text-dark: #4a4a4a;
  --text-dark-muted: #797979;
  --text-white: #FFFFFF;

  --background: #f1f1f1;
  --forground: #ebebeb;


  /* --background: #151c2d;
  --foreground: #192237;
  --text-white: #fafbfc;
  --text-white-muted: #afafb5;
  --text-success: #3e7d56;
  --button-primary: #5d57c7;
  --active-primary: #2e374a;
  --button-secondary: #62728a;
  --button-warning: #796d55; 
  --button-danger: #834456; */
}
.pt-1{
  padding-top: .2rem;
 }
.pt-2{
  padding-top: .4rem;
 }
.pt-3{
  padding-top: .6rem;
 }
 
.pb-1{
     padding-bottom: .2rem;
    }
.pb-2{
     padding-bottom: .4rem;
    }
.pb-3{
     padding-bottom: .6rem;
    }
 
.mt-1{
  margin-top: .2rem;
 }
.mt-2{
  margin-top: .4rem;
 }
.mt-3{
  margin-top: .6rem;
 }
 
.mb-1{
  margin-bottom: .2rem;
 }
.mb-2{
  margin-bottom: .4rem;
 }
.mb-3{
  margin-bottom: .6rem;
 }
 
 /* .m{
  margin: .2rem;
 }
 .m{
  margin: .4rem;
 }
 .m{
  margin: .6rem;
 } */
 
.m-1{
  margin: .1rem;
 }
.m-2{
  margin: .2rem;
 }
.m-3{
  margin: .3rem;
 }
 
.mx-1{
     margin: .1rem
 }
.mx-2{
     margin: .2rem
 }
.mx-3{
     margin: .3rem
 }
 
.px-1{
     padding: .1rem
 }
.px-2{
     padding: .2rem
 }
.px-3{
     padding: .3rem
 }
 
.pl-1{
     padding-left: .1rem
 }
.pl-2{
     padding-left: .2rem
 }
.pl-3{
     padding-left: .3rem
 }
 
.pr-1{
     padding-right: .1rem
 }
.pr-2{
     padding-right: .2rem
 }
.pr-3{
     padding-right: .3rem
 }
 
 
.p-1{
  padding: .1rem;
 }
.p-2{
  padding: .2rem;
 }
.p-3{
  padding: .3rem;
 }
.learn-more-product{
  display: flex;
  justify-content: center;
 }
.body-heads-container{
  padding: 10px 0px 24px 0px;
}

/* MAIN CONTAINER */
.main-container{
  background-color: var(--bg-background);
  color: var(--bg-dark-1);
  width: calc(100% - 250px);
  height: 100%;
  min-height: 100%;
  margin-left: 250px; 
  padding: 10px 0px 24px 0px;
}
.indexed-top{
  padding-left:2rem;
}

.bordered-top{
  border-top: 1px solid var(--bg-dark);
}
.pop-up-buttons{
  /* background-color: var(--bg-light); */
  background-color: #ffffff;
  color: var(--bg-dark);
  flex-direction: column;
  cursor: pointer;
  width: 240px;
  /* border: 1px solid var(--bg-dark-1); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
  0 1px 3px rgba(0, 0, 0, 0.08);
}
.pop-up-buttons>ul>li:hover{
  background-color: #d0cfcf70;
  border-radius: 0.1rem;
}
pop-up-buttons>ul>li:nth-last-child():hover{
  background-color: #c45e5e;
  border-radius: 0.4rem;
  }
.pop-up-buttons-container{
  display: flex;
  
}
.container-pop-up-buttons{
  position: relative;
  display: flex;
  /* justify-content: center; */
}
.pop-up-buttons>ul>li{
  padding: 10px 45px 10px 20px;
  
  /* color: var(--background); */
  /* background-color: #000000; */

}
.pop-up-buttons>ul
{
  list-style-type: none;
  display: flex;
  /* width: 180px; */
  flex-direction: column;
}
.pop-up-buttons{
  display: flex;
  background-color: #EBEBEB;
  /* width: 150px; */
  /* align-items: center; */
  border-radius: .8rem;
  /* padding: .5rem; */
  /* position: absolute; */
}
.group-menu{
  align-self: center
}
.grow-up{
  display: flex;
  flex-grow: 3;
}
.flex
{
  display: flex;
}
.display-none-collapsed{
  display: none;
}
.display-none-collapsed.show{
  display: block;
} 
.display-none{
  display: none;
 }
 html,
body {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.div-button-container-1{
  justify-content: space-between;
  align-items: center;
}

.more_action{
  position: relative;
}
.FontAwesomeIcons{
  position: absolute;
  right: 0.3rem;
  top: 0.6rem;
  font-size: 12px;
}
body {
  color: var(--text-white);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .sideBar-items.active { */
  /* background-color:#2e374a; Change to your desired active color */
  /* font-weight: bold; Optional: Make active item bold */
/* } */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* .header-container-degree1>div>input{ */
  
/* } */
.parent-input-icon{
  position: relative;
}
.input-icon{
  position: absolute;
  top: 9px;
  left: 5px;
  font-size: 1.4rem;
  color: var(--text-white-muted);
}
.image-profile{
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: var(--foreground-white);
}

.label-name-profile{
  font-size: 16px;
  font-weight: 800;
}
.container-sales-channels{
  margin-bottom: 2rem;
}
.espacement-sidebar{
  margin-top: 2rem;
  height: 50vh;
}
.sideBar.show {
  display: none; /* Ou flex/inline-block selon vos besoins */
}
.sideBar {
  border-radius: 1.2rem 0rem 0rem 0rem;
  font-weight: 550;
  width: 250px;
  background-color: var(--forground);
  color: var(--text-dark);
  padding: 15px 10px;
  height: 100vh;
  position: fixed;
  font-size: 13px;
  z-index: 10001;
  top: 64px;
  display: block;
  overflow:scroll;margin-bottom: 2rem;
}
.sideBar ul {
  list-style-type: none;
  padding: 0;

}

.logo-header{
  margin-top: 1rem;
}
.chevron-down{
  position: absolute;
  right: 4px;
  top: 14px;
}
.sideBar ul li {
  /* margin-top: 1rem; */
  position: relative;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
.sideBar ul li:hover{
  background-color:var(--bg-light);
  color: var(--bg-dark-muted);
  /* font-weight: 550; */
}
.sidebar-sub-menu:hover{
  background-color: var(--bg-light-1);
  color: var(--text-dark-muted);
  /* font-weight: 550; */
}
.logo-header{
  color: var(--forground-white);
}
.active{
  background-color: var(--bg-light-1);
  color: var(--text-dark);
  font-weight: 650;
}
.sidebar-sub-menu{
  font-weight: 450;
  font-size: 13px;
  margin-left: 1.5rem;
  color: var(--text-dark-muted);
}
.active-sub{
  background-color: var(--bg-light-2);
  color: var(--text-dark-muted);
  font-weight:650;
}
.sideBar-items{
  align-content: center;
  /* padding: 10px; */
}
.espacement{
  height: 2vh;
}
section>div{
  margin: 1rem 0;
}
/* .header-container{
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 270px);
  display: flex;
  justify-content: space-between;
  background-color: var(--foreground);
  border-top: solid 1px var(--foreground);
  border-bottom: solid 1px var(--foreground);
} */
.section-container
{
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 5rem;
}
.section-container-product{
  margin-left: 260px;
  width: calc(100% - 270px);
  /* display: flex; */
}
.column-gap{
  padding-right: 10px;
  /* padding: 10px; */
}
.header-container-degree1{
  display: flex;
  column-gap: 10px;
  align-items: center;
  /* justify-content: space-between; */
}
.header-left{
  align-self: center;
}
.header-container-degree1>div>input{
  width: 100%;
  outline: none; 
  background-color:var(--active-primary);
  color: var(--foreground-white);
  letter-spacing: .2rem;
  border: none;
  padding-right: 10px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
}
.sideBar ul a{
  text-decoration: none;
  color: var(--text-white);
}

@media screen and (max-width: 768px) {
  
  .header{
    background-color: var(--bg-dark);
  }
  .icon-bars-item{
    display: block;
    
  }
  .logo-ferber
  {
    display: none;
  }
  .sideBar
  {
    display: none;
  }
  .design
  {
    display: none;
  }
  .main-container{
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin-left: 0;
    padding: 10px 0px 24px 0px;
  }
}


/* BODY HOME */


@media screen and (max-width: 600px) {
  
  .header{
    background-color: var(--bg-dark);
  }
  .icon-bars-item{
    display: block;
    
  }
  .logo-ferber
  {
    display: none;
  }
  .sideBar
  {
    display: none;
  }
  .design
  {
    display: none;
  }
  .main-container{
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin-left: 0;
    padding: 10px 0px 24px 0px;
  }
  .toggle-group-buttons{
    display: none;
  }
  .display-none{
    display: block;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: #0a0a0a;
    --foreground-white: #ededed;
  }
}

